<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suravor</title>
    <meta name="description" content="Free restaurant catalogue for you">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="icon" href="../public/favicon.png">
</head>
<body>
    <a href="#main-content" class="skip-to-content">Skip to Content</a>

    <header id="header">
        <div class="app-bar">
            <div class="app-bar__menu">
                <button class="btn" id="hamburgerButton" tabindex="0">☰</span>
            </div>
            <div class="app-bar__brand">
                <img tabindex="0" src="/images/LogoBrand.png" alt="Suravor Logo">
                <h1 tabindex="0">Suravor</h1>
            </div>
            <nav id="navigationDrawer" class="app-bar__navigation">
                <ul>
                    <li>
                        <a href="/" tabindex="0">Home</a>
                    </li> 
                    <li>
                        <a href="/favorites" tabindex="0">Favorites</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/christofer-nathanael-0b1192254/" tabindex="0">About Us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main id="main-content"></main>

    <footer class="footer">
          <p tabindex="0">copyright © 2024 Suvavor by Kristoff</p>
    </footer>
</body>
</html>
