<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suravor</title>
    <meta name="description" content="Free restaurant catalogue for you">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="icon" href="../public/favicon.png">
</head>
<body>
    <a href="#main-content" class="skip-to-content">Skip to Content</a>

    <header>
        <custom-header></custom-header>
    </header>

    <main id="mainContent"></main>

    <footer class="footer">
          <p tabindex="0">copyright © 2024 Suvavor by Kristoff</p>
    </footer>
</body>
</html>
